body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;

}

hr {
  border: dotted #ffe3ed 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.copyright{
  color: #eaf6f6;
  padding: 10px 0 10px 0;
  font-size: 0.75rem;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.heading-2 {
  font-weight: normal;
  line-height: 2;
}

.top-container {
  background-color: #beebe9;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.my-pic {
  width: 150px;
}
.middle-container{
  margin: 100px 0;
}

.contact.me{
  margin: 30px auto 40px;
}
.btn{
  display: inline-block;
   line-height: 20px;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 19px;
   font-weight: 700;
   color: #ddd;
   padding: 10px 20px;
   border-radius: 5px;
   border: 1px solid #001151;
   text-shadow: 2px 2px 4px rgba(32,70,97,.55);
   background: #002483;
   background: linear-gradient(
     to bottom,
       rgba(0,36,131,1) 0%,
       rgba(0,44,151,1) 27%,
       rgba(0,61,166,1) 55%,
       rgba(15,77,180,1) 82%,
       rgba(23,83,185,1) 100%);
}
.bottom-container{
  background-color: #ec7373;
  padding: 50px 0 20px;
}
